html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.heading {
    color: rgba(0, 0, 0, 0.452);
    text-decoration: underline;
    margin-left: 25px;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-left: 10px;
    margin-left: 6px;
    margin-right: 33%;
    margin-top: 22px;
    opacity: 1;
    cursor: auto;
    width: 500px;
    max-width: 549px;
    background-color: #b5b4b4c8;
    border: 0px;
    border-radius: 4px;
    -webkit-box-align: center;
    align-items: center;
    height: 40px;
    width: calc(100% - 50px);
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
    color: black;
}

::placeholder {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
    color: black;
}

::-webkit-scrollbar {
    width: 0px;
}

/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    background-image: linear-gradient(to top left, rgb(49, 75, 79), #56797a, rgba(0, 0, 0, 0.152));
    border-radius: 5px;
    overflow: hidden;
}


/* Style the links inside the navigation bar */
.tags a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    margin-top: 18px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 12px;
    border-radius: 4px;
}

/* Change the color of links on hover */
.tags a:hover {
    background-color: #3f99a09c;
    color: rgb(0, 0, 0);
}

.tags :active {
    background-color: #3f99a0;
}

/* Styling the area of the slides */
#slideshow {
    overflow: hidden;
    height: 310px;
    width: 720px;
    margin: 0 auto;
}

/* Style each of the sides
  with a fixed width and height */
.slide {
    float: left;
    height: 210px;
    width: 720px;
}

/* Add animation to the slides */
.slide-wrapper {

    /* Calculate the total width on the
    basis of number of slides */
    width: calc(720px * 5);

    /* Specify the animation with the
    duration and speed */
    animation: slide 20s ease infinite;
}


/* Define the animation
  for the slideshow */
@keyframes slide {

    /* Calculate the margin-left for
    each of the slides */
    16.66% {
        margin-left: 0px;
    }

    33.32% {
        margin-left: calc(-720px * 1);
    }

    49.98% {
        margin-left: calc(-720px * 2);
    }

    66.64% {
        margin-left: calc(-720px * 3);
    }

    83.3% {
        margin-left: calc(-720px * 4);
    }
}

h2 {
    color: rgba(223, 212, 212, 0.605);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.div_posters {
    display: flex;
    padding: 20px;
    overflow-x: auto;
}

.posters {
    height: 300px;
    width: 200px;
    border-radius: 10px;
}

/* PRODUCTS */
.product {
    position: relative;
    overflow-x: hidden;
    padding: 20px;
    overflow-y: hidden;

}

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-right: 10px;
    margin-left: 10px;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    height: 305px;
    width: 200px;
    margin-right: 1.87%;
    margin-left: 1.87%;
    border-radius: 10px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 305px;
    overflow-x: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-btn {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 70%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #3f99a0c2;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    align-items: center;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    opacity: 1;
    background: #3f99a0;
    color: #fff;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
    height: 330px;
}

/* Hide the images by default */
.mySlides,
.mySlides1,
.mySlides2,
.mySlides2 {
    display: flex;
}


/* Next & previous buttons */
.prev,
.prev1,
.next1,
.next,
.prev2,
.next2,
.prev3,
.next3 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    margin-right: 4px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next,
.next1,
.next2,
.next3 {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover,
.prev1:hover,
.next1:hover,
.prev2:hover,
.next2:hover,
.prev3:hover,
.next3:hover {
    background-color: #3f99a09c;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot,
.dot1,
.dot2,
.dot3 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* .active, */
.active1,
.active2,
.active3,
.dot:hover,
.dot1:hover,
.dot2:hover,
.dot3:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.footer {
    position: relative;
    width: 100%;
    background: rgba(108, 168, 165, 0.745);
    min-height: 80px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("images/wavw.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

.see {
    align-items: right;
    justify-content: right;
    display: flex;
}

.seemore {
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px 4px 2px;
    margin-right: 12px;
    margin-bottom: 2px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    color: #56998fd0;
}

.seemore:hover {
    color: red;
    font-size: 20px;
}

.logo {
    margin-top: 4px;
    width: 100px;
    height: 80px;
    margin-right: 6px;
}

.logobutton {
    background: transparent;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#preloader {
    background: #f2f2f2 url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fdribbble.com%2Fshots%2F11956378-Movie-loading&psig=AOvVaw2jCrLf_MNxboJC5unxhXt9&ust=1680181047178000&source=images&cd=vfe&ved=0CA8QjRxqGAoTCPjA1qWYgf4CFQAAAAAdAAAAABCTAQ") no-repeat center center;
    height: 100%;
    width: 100vh;
    position: relative;
}